# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Imagenes grandes de resultados temporales (opcional)
*.jpg
*.png
